body{
    background-color: purple;

}
form{

    background-color: black;
    border-color: white;
    border-radius: 20px;
}
h2{
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}