body{
    background-color: rgb(255, 255, 255);

}
/* CSS DO CRIAR USUARIO */

div.container{
    display: flex;
    background-color: rgb(53, 53, 102);
    align-items: center;
    margin-top: 0px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
}

a{
    align-items: center;
    color: white;

}