body{
    body {
    background-color: white;
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    height: 100vh;
}

}
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

.container{
    background-color: #3b3b6d;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}


a{
    align-items: center;
    color: white;

}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #5750d6;
}